.rodape {
  background-color: #f8f9fa;
  padding: 60px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.rodape h2 {
  color: var(--cor-de-titulo);
  margin-bottom: 20px;
}

.redes-sociais a {
  margin: 0 10px;
  color: var(--redes-sociais);
  text-decoration: none;
  font-weight: 500;
}

.redes-sociais a:hover {
  color: var(--ver-mais);
  text-decoration: underline;
}

.informacoes-escola p {
  margin: 5px 0;
  color: var(--cinza);
  }
  .informacoes__texto {
  font-size: 1rem; /* ou 1.1rem, conforme o tamanho original */
}


