.banner {
    background-image: url(../img/Frame\ Inicial.png);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner_titulo {
    font-size: 18px;
    font-weight: 700;
    padding: 2rem 0;
}

.banner_texto {
    font-weight: 500;
    margin: 1em 0;
    display: none;
}

.banner_pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner_pesquisa::placeholder {
    font-family: var(--font-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background-image: url('../img/Lupa.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
    .banner_titulo {
        font-size: 36px;
        padding: 0rem 0;
    }

    .banner_texto {
        font-weight: 500;
        margin: 1em 0;
        display: block;
    }

    .banner_pesquisa {
        width: 50%;
        background-image: url('img/lupa.svg');
        background-repeat: no-repeat;
        background-position: 1em center;
        padding-left: 3em;
    }

    .banner_pesquisa::placeholder {
        opacity: 1;
    }
}


@media screen and (min-width: 1728px) {
    .banner_pesquisa {
        width: 35%;
        background-image: url('img/lupa.svg');
        background-repeat: no-repeat;
        background-position: 11em center;
        padding-left: 0em; /* aumenta o padding se necessário */
    }

    .banner_pesquisa::placeholder {
        background-position: 11em;
    }

    .banner {
        padding: 5.5em 0;
    }
}