.carrosel_titulo{
    color: var(--cor-de-titulo);
    background: linear-gradient(135deg, #ffffff 0%, #e9fbee 100%);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.swiper-slide img:hover {
  transform: scale(1.05);
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.botões {
    display: flex;
}

.titulo-carrosel {
  font-size: 1.8rem;
  color: var(--cor-de-titulo);
  margin-bottom: 1.5rem;
}

.descrição_titulo_livro{
    color: var(--cor-azul);
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 700;
  margin: 0.5em 0;
}

.descrição_texto {
    font-size: 14px;
}

.botões_item{
    margin: 0 0.5em;
}

.botões_ancora {
     background-color: var(--cor-de-titulo);
     padding: 1em 2.2em;
     color: var(--branco);
     font-weight: 700;
     text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .carrosel_titulo {
        font-size: 26px;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 60%;
    }

}

@media screen and (min-width: 1728px) {

    .carrosel_container {
        display: flex;
        margin: 0 5vw 0em 5vw;
        align-items: center;
    }

    .swiper-pagination{
        margin: 1em 0;
    }

    .swiper  img{
        width: 100%;
    }

    .descrição_titulo {
        font-size: 32px;
    }

    .descrição_texto {
        font-size: 16px;
    }

    .descrição {
        margin-right: 2em;
    }
}